<div class="adm-header">
    <div class="row">
        <div class="col-md-8 col-8 col-lg-8">
            <div class="form-group mBT0">
                <div class="position-relative">
                    <img src='../../../assets/images/search-ion.png' class="left-input">
                    <input type="text" name="searchCompany" id="searchCompany" placeholder="Search"
                        class="form-control search-input">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-4 col-lg-4 d-flex adm-headerRight">
            <div class="adm-header-notifications">
                <div class="notifications">
                    <span>18</span>
                    <p><img src='../../../assets/images/md-notifications.png'></p>
                </div>
            </div>
           
        </div>
    </div>
</div>
